body{
    font-family: Helvetica;
}

.title{
    text-align: center;
}

.question{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
}